<h1>profile index only for Admin</h1>

<table class="table">
	<tr>
		<td>Email</td>
		<td>Created Tuime</td>
		<td>ID</td>
		<td>Role</td>
	</tr>
	<% @profile.each do |p| %>
	<tr> 
		<td><%= p.email%></td> 
		<td><%= p.created_at%></td> 
		<td><%= p.id%></td> 
		<td><%= p.role%></td>
	<%end%>
	</tr>

</table>

<p><%= link_to "Topics Index", topics_path%></p>