<h1>Profile show</h1>

<table class="table">
	<tr>
		<td>暱稱</td>
		<td>Email</td>
		<td>註冊時間</td>
		<td>ID</td>
		<td>Role</td>
		<td>發文數量</td>	
		<td>回覆數量</td>
		<td>收藏數量</td>	
		<td>訂閱數量</td>
		<td>按讚數量</td>
	</tr>
	
	<tr> 
		<td><%= @user.username %> </td>
		<td><%= @user.email%></td> 
		<td><%= @user.created_at%></td> 
		<td><%= @user.id%></td> 
		<td><%= @user.role%></td>
		<td><%= @user.topics.size %></td>
		<td><%= @user.feedbacks.size %></td>
		
		
		<td>
			<% if current_user && (current_user.username== params[:id] || current_user.admin?) %>
				<%= @user.favorite_topics.size %>
			<% elsif%>
				<%= "你沒有權限得知" %>
			<% end %>
		</td>	
		<td>
			<% if current_user && (current_user.username == params[:id] || current_user.admin?) %>
				<%= @user.subscribe_topics.size %>
			<% elsif%>
				<%= "你沒有權限得知" %>
			<% end %>
		</td>	
		<td> <%= @user.like_topics.size %></td>
		
	</tr>

</table>

<h3>About Me</h3>


<% if current_user && ( @user == current_user || current_user.admin? ) %>

	<%= form_for @profile, :class =>"form" do |p|%>

		<div class="form-group">
			<%=p.label :description, "description"%>
			<%=p.text_area :description, :class => "form-control"%>
			<%=p.submit "Submit", :class => "btn btn-primary"%>
		</div>
	<%end%>

<% else %>
	<%= @profile.description %>
<%end%>

<hr>

<hr>

<h3>topics</h3>
	
<table class="table">
	<tr>
		<td><%= link_to "Title", profile_path( :order => "name")%></td>
		<td>Category</td>
		<td>User</td>
		<td><%= link_to "Post Time", profile_path( :order => "created_at")%></td>
		<td> <%= link_to "Feedbacks", profile_path( :order => "feedbacks_count")%></td>
		<td>Feedbackers</td>
		<td>Control</td>
		<td>Status</td>
	</tr>
	<% @topics.each do |t| %>
		
		<tr>
		
			<td><%= link_to t.name, topic_path(t)%></td>
			<td>
				<%= t.category_name%>
			</td>
			<td>
				<%= link_to t.user.username, profile_path(t.user.username) %>

			</td>
			<td>
				<%= t.created_at%>
			</td>
			<td>
				<%= t.feedbacks.size %> pieces of feedback
			</td>
			<td>
				<ul>
					<% t.feedbacks.each do |fe| %>
						<li><%= fe.user.email %></li>
					<%end%>
				</ul>
			</td>
			<td>
				<!-- TODO: FIXME -->
				<%if current_user == nil%> 
				<%#沒登入者時，這段須在前面，or current_user.email 會出現 error%>
				<p> <%= "XXX" %></p>
				<%elsif t.user.email==current_user.email || current_user.role == "admin"%>
				<%= link_to "Edit", topics_path(:topic_id => t ), :class => "btn btn-default"%>
				<%= link_to "Delete", topic_path(t), :method => :delete, :data => {:confirm => "sure?"},:class => "btn btn-danger" %>
				<%end%>
			</td>
			<td><%=t.status%></td>
		</tr>
	<%end%>
</table>

<hr>

<h3>Feedbacks</h3>
<table class="table">
	<tr>
		<td><%= link_to "Topic", profile_path( :order => "name")%></td>
		<td>Feebacker</td>
		<td>Feedback Time</td>
		<td>Content</td>
		<td>Control</td>
		<td>Status</td>
	</tr>
	<% @feedbacks.each do |fe| %>
		<tr>
			<td><%= link_to fe.topic.name, topic_path(fe.topic.id)%></td>
			<td><%= fe.user.username%></td>
			<td><%= fe.created_at%></td>
			<td><%= fe.content%></td>
			<td>

		  <!-- TODO: FIXME -->
			<% if current_user == nil %>
				<%="XXX"%>
			<% elsif fe.user.email == current_user.email  || current_user.role == "admin"%>
				<%= link_to "Edit", edit_topic_feedback_path(fe.topic_id,fe),:class => "btn btn-default"%>
				<%= link_to "Delete", topic_feedback_path(fe.topic_id,fe), :method => :delete, :data => {:confirm => "Are you sure?"},:class => "btn btn-danger"%>
			<%end%>
			</td>
			<td>
				<%= fe.status %>
			</td>
		</tr>
	<%end%>
</table>

<% if current_user && (current_user.id.to_s == params[:id] || current_user.admin?) %>

	<h3>My Favorite Topics </h3>
	<table class="table">
		<tr>
			<td>文章</td>
			<td>作者 </td>
			<td>內容</td>
			<td>文章建立時間</td>
			
		</tr>
			<% @user.favorite_topics.each do |f|%>
				<tr>
					<td><%= link_to f.name,topic_path(f)%></td>
					<td><%= link_to f.user.username, profile_path(:id => f.user.username) %></td>
					<td><%= f.content%></td>
					<td><%= f.created_at%></td>
				</tr>
			<%end%>
	</table>

	<h3>Subscribed Topics </h3>
	<table class="table">
		<tr>
			<td>文章</td>
			<td>作者 </td>
			<td>內容</td>
			<td>文章建立時間</td>
			
		</tr>
			<% @user.subscribe_topics.each do |f|%>
				<tr>
					<td><%= link_to f.name,topic_path(f)%></td>
					<td><%= link_to f.user.username, profile_path(f.user.username) %></td>
					<td><%= f.content%></td>
					<td><%= f.created_at%></td>
				</tr>
			<%end%>
	</table>

<% end %>
	<h3>Liked Topics </h3>
	<table class="table">
		<tr>
			<td>文章</td>
			<td>作者 </td>
			<td>內容</td>
			<td>文章建立時間</td>
			
		</tr>
			<% @user.like_topics.each do |f|%>
				<tr>
					<td><%= link_to f.name,topic_path(f)%></td>
					<td><%= link_to f.user.username, profile_path(f.user.username) %></td>
					<td><%= f.content%></td>
					<td><%= f.created_at%></td>
				</tr>
			<%end%>
	</table>


<p><%= link_to "Topics Index", topics_path%></p>
