<div class="form-group">
	<%=t.label :category_id, "Category"%>
	<%=t.select :category_id, Category.all.map{ |x| [x.name, x.id]}, :class => "form-control" %>
</div>

<div class="form-group">
	<%=t.label :status, "Status"%>
	<%=t.select :status,[["Published","published"],["Draft","draft"]]%>
</div>

<div class="form-group">
	<%=t.label :name, "Title"%>
	<%=t.text_field :name, :class => "form-control"%>
</div>


<div class="form-group">
	<%= t.label :tag_list, "Tag_list" %>
	<%= t.text_field :tag_list %>
</div>

<div class="form-group">
	<%=t.label :content, "Content"%>
	<%=t.text_area :content, :class => "form-control"%>
</div>

<div class="form-group">
	<%=t.label :logo, "LOGO"%>
	<%=t.file_field :logo%>
	
	<% if @topic.logo.exists? %>
		<%= link_to image_tag(@topic.logo.url(:thumb)),@topic.logo.url%>
      <%= check_box_tag "destroy_logo", "1" %> 刪除檔案
    <% end %>

</div>

<%= t.submit "送出",:class => "btn btn-primary" %>

<script>
  $("#topic_category_id").select2();
  $("#topic_status").select2();
  $("#topic_content").select2();
  $("#topic_tag_list").select2({
    tags: gon.tags,
    tokenSeparators: [',', ' ']
  });

</script>


