<h1>翻轉立院 <%= link_to "Index", topics_path, :class => "btn btn-default"%> <%= link_to "About", aboutsite_topics_path,:class => "btn btn-default"%></h1> 



<ul>
	<li><%= link_to "Sort By Default", topics_path %></li>
</ul>

<%=form_tag bulk_update_topics_path do %> <form>

<table class="table">
	<tr>
		<td>
		
		<%= link_to "Title", topics_path( :order => "name")%></td>
		<td>Category</td>
		<td>User</td>
		<td><%= link_to "Post Time", topics_path( :order => "created_at")%></td>
		<td> <%= link_to "Feedbacks", topics_path( :order => "feedbacks_count")%></td>
		<td>Feedbackers</td>
		<td>Control</td>
	</tr>

<% @topics.each do |t| %>

	<tr>
		<td>
		<%= check_box_tag "ids[]", t.id, false %>
		<%= link_to t.name, topic_path(t)%>
			
		</td>
		<td>
			<%= t.category_name%>
		</td>
		<td>
			<%= t.user_email%>

		</td>
		<td>
			<%= t.created_at%>
		</td>
		<td>
			<%= t.feedbacks.size %> pieces of feedback
		</td>
		<td>
			<ul>
				<% t.feedbacks.each do |fe| %>
					<li><%= fe.user_email %></li>
				<%end%>
			</ul>
		</td>
		<td>

			<%if current_user == nil%> 
			<%#沒登入者時，這段須在前面，or current_user.email 會出現 error%>
			<p> <%= "XXX" %></p>
			<%elsif t.user_email==current_user.email%>
			<%= link_to "Edit", topics_path(:topic_id => t ), :class => "btn btn-default"%>
			<%= link_to "Delete", topic_path(t), :method => :delete, :data => {:confirm => "sure?"},:class => "btn btn-danger" %>

			
			<%end%>

		</td>
	</tr>
<%end%>
</table>

	

	<%= submit_tag "Delete"%>
	<%= submit_tag "Publish"%>

<%end%>

<%= paginate @topics %>


<%#將edit new 放到首頁%>
<%= link_to "New Topic", topics_path,:class => "btn btn-primary"%>

<%
  if params[:topic_id]
    url = topic_path(@topic)
  else
    url = topics_path
  end
%>

<%= form_for @topic, :url => url do |t| %>

	<%= render :partial => 'form', :locals => { :t => t} %>

    <%= t.submit "Submit",:class => "btn btn-primary" %>

<% end %>







