<h1>JKSong <%= link_to "About", aboutsite_topics_path,:class => "btn btn-default"%></h1> 



<ul>
	<li><%= link_to "Sort By Title Name", topics_path( :order => "name")%></li>	
	<li><%= link_to "Sort By Created Time", topics_path( :order => "created_at")%></li>	
	<li><%= link_to "Sort By Default", topics_path %></li>
	<li><%= link_to "Sort By feddback_num", topics_path( :order => "feddback_num")%></li>	
</ul>

<table class="table">
	<tr>
		<td>Title</td>
		<td>Category</td>
		<td>User</td>
		<td>Post Time</td>
		<td>Feedbacks</td>
		<td>Control</td>
	</tr>

<% @topics.each do |t| %>

	<tr>
		<td>
		<%= link_to t.name, topic_path(t)%>
			
		</td>
		<td>
			<%= t.category.try(:name)%>
		</td>
		<td>
			<%= t.user.try(:email)%>

		</td>
		<td>
			<%= t.created_at%>
		</td>
		<td>
			<%= t.feedbacks.size %> pieces of feedback
		</td>
		<td>
			
			<%= link_to "Edit", topics_path(:topic_id => t ), :class => "btn btn-default"%>
			<%= link_to "Delete", topic_path(t), :method => :delete, :data => {:confirm => "sure?"},:class => "btn btn-danger" %>
		</td>
	</tr>
<%end%>
</table>

<%= paginate @topics %>


<%#將edit new 放到首頁%>
<%= link_to "New Topic", topics_path,:class => "btn btn-primary"%>

<%
  if params[:topic_id]
    url = topic_path(@topic)
  else
    url = topics_path
  end
%>

<%= form_for @topic, :url => url do |t| %>

	<%= render :partial => 'form', :locals => { :t => t} %>

    <%= t.submit "Submit",:class => "btn btn-primary" %>

<% end %>







