<h1>TOPICS INDEX</h1>


<table class="table">
<% @topics.each do |t| %>
	<tr>
		<td>
			<%=t.name%>
		</td>
		<td>
			<%= link_to "Show", topic_path(t),:class => "btn btn-primary"%>
			<%= link_to "Edit", edit_topic_path(t), :class => "btn btn-default"%>
			<%= link_to "Delete", topic_path(t), :method => :delete, :data => {:confirm => "sure?"},:class => "btn btn-danger" %>
		</td>
	</tr>
<%end%>
</table>



<%= link_to "New a Topic", new_topic_path,:class => "btn btn-primary"%>