<%= link_to "About", about_path,:class => "btn btn-default"%>


<table class="table">
	<tr>
		<td>分類列表
			<% Category.all.each do |c|%>
			<%= link_to c.name, topics_path( :category => c.id), :class => "btn btn-primary"%>
			<%end%>
			<%= link_to "All", topics_path,:class => "btn btn-primary" %>
		</td>

	
	</tr>
</table>

<%= search_form_for @q do |f| %>

  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>

  <%= f.label :content_cont %>
  <%= f.search_field :content_cont %>

  <%= f.submit %>
<% end %>

<%=form_tag bulk_update_topics_path do %> <form>

<table class="table">
	<tr>
		<td><%= sort_link(@q, :name, '標題') %></td>
		<td>Category</td>
		<td>Poster</td>
		<td>Tags</td>
		<td><%= sort_link(@q, :created_at, '發表時間') %></td>
		<td><%= sort_link(@q, :feedbacks_count, '回覆數') %></td>
		<td>Feedbackers</td>
		<td><%= sort_link(@q, :latest_feedback_time, '最新回覆時間') %></td>
		<td>Control</td>
		<td>Status</td>
	</tr>

	<% @topics.each do |t| %>
		
		<tr >
		
			<td>
			<%= check_box_tag "ids[]", t.id, false %>
			<%= link_to t.name, topic_path(t)%>
				
			</td>
			<td>
				<%= t.category_name%>
			</td>
			<td>
				<%= link_to profile_path(:id => t.user.username) do%>
					<%= image_tag t.user.gravatar_url, :size => "30x30" %>
					<%= t.user.username%>
				<% end %>

			</td>
			<td>
				<% t.tags.each do |t|%>
					<%= link_to t.name, topics_path( :tag_id => t )%>
				<%end%>
			</td>
			<td>
				<%= t.created_at %>
			</td>
			<td>
				<%= t.feedbacks.size %> pieces of feedback
			</td>
			<td>
				<ul>
					<% t.feedback_users.each do |u| %>
						<li><%= link_to u.username, profile_path(:id => u.username) %></li>
					<%end%>
				</ul>
			</td>
			<td><%= t.latest_feedback_time%></td>
			<td>	

			<%# ajax partial 實作%>
					<%= link_to "預覽", topic_path(t),:class => "btn btn-primary" , :remote => true %>

				<% if current_user && ( t.user == current_user || current_user.admin? ) %>
					<%= link_to "Edit", topics_path(:topic_id => t ), :class => "btn btn-default"%>	
				<%# 僅改變url, 取值及更新由下面的form for 執行%>
				
					<%= link_to "Delete", topic_path(t), :method => :delete, :data => {:confirm => "sure?"},:class => "btn btn-danger" %>

				<% end %>
			</td>
			<td><%=t.status%></td>
		</tr>
	<%end%>
</table>
	<%= submit_tag "Delete"%>
	<%= submit_tag "Publish"%>
<%end%>

<%= paginate @topics %>

<div id="show_area"></div>

<hr>
<%#將edit new 放到首頁%>
<%= link_to "新文章", topics_path,:class => "btn btn-primary"%>


<%
  if params[:topic_id]
  	#edit
    url = topic_path(@topic)
  else 
  	#new
    url = topics_path
  end
%>

<%= form_for @topic, :url => url do |t| %>

	<%= render :partial => 'form', :locals => { :t => t} %>

<% end %>







