<h1>TOPICS INDEX</h1>




<table class="table">
	<tr>
		<td>Title</td>
		<td>User</td>
		<td>Feedback</td>
		<td>Control</td>
	</tr>

<% @topics.each do |t| %>

	<tr>
		<td>
			<%=t.name%>
		</td>
		<td>
			<%=t.user.try(:email)%>
		</td>
		<td>
			<%= link_to "Feedback", topic_feedbacks_path(t),:class => "btn btn-primary"%>
		</td>
		<td>
			<%= link_to "Show", topic_path(t),:class => "btn btn-primary"%>
			<%= link_to "Edit", topics_path(:topic_id => t ), :class => "btn btn-default"%>
			<%= link_to "Delete", topic_path(t), :method => :delete, :data => {:confirm => "sure?"},:class => "btn btn-danger" %>
		</td>
	</tr>
<%end%>
</table>


<%#將edit new 放到首頁%>
<%
  if params[:topic_id]
    url = topic_path(@topic)
  else
    url = topics_path
  end
%>

<%= link_to "New Topic", topics_path,:class => "btn btn-primary"%>

<%= form_for @topic, :url => url do |t| %>

	<%= render :partial => 'form', :locals => { :t => t} %>

    <%= t.submit "Submit",:class => "btn btn-primary" %>

<% end %>







