<h1>New Page!!</h1>

<%= form_for @topic do |t|%>
	
	<%=t.label :name, "Title"%>
	<%=t.text_field :name%>

	<%=t.label :content, "Content"%>
	<%=t.text_field :content%>

	<%=t.submit "Create"%>

<%end%>



<%= link_to "Topics Index", topics_path%>