<div id="fb-root" >
	<div class="container">
	      		<script>(function(d, s, id) {
					  var js, fjs = d.getElementsByTagName(s)[0];
					  if (d.getElementById(id)) return;
					  js = d.createElement(s); js.id = id;
					  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.4&appId=1473500716238271";
					  fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));</script>
				<div class="fb-like"></div>
	</div>
</div>


<h1>
	Title:<%= @topic.name %> 
	
		<%= link_to "收藏", favorite_topic_path(@topic),:class => "btn btn-primary"%>
		<%= link_to "訂閱", subscribe_topic_path(@topic),:class => "btn btn-primary"%>
	
</h1>

<ul>
<li>
	<%= link_to "讚", like_topic_path(@topic),:class => "btn btn-primary"%>
	<%= @topic.like_users.size %> 人覺得讚：
</li>
<li>Category:<%= @topic.category_name %></li>
<li>Author:
	<%= image_tag @topic.user.gravatar_url, :size => "30x30" %>
	<%= link_to @topic.user.username, profile_path(@topic.user)%>
</li>
<li>Status:<%= @topic.status%></li>
<li>Tags: 
	<% @topic.tags.each do |ta|%>
		<%= ta.name %>,
	<%end%>
</li>
<li>Content:<%= @topic.content %></li> 

</ul>

<% if @topic.logo.exists? %>
	<%= link_to image_tag(@topic.logo.url(:thumb)),@topic.logo.url%>
<%end%>



<h3>Feedbacks:</h3>
<table class="table">
	<tr>
		<td>Feedbacker</td>
		<td>Content</td>
		<td>Feedback Time</td>
		<td>Control</td>
		<td>Status</td>
	</tr>

	<% @feedbacks.each do |fe| %>
		<tr>
			<td>

				<%= link_to profile_path(fe.user) do %>
					 <%= image_tag fe.user.gravatar_url, :size =>"30x30" %>
					 <%= fe.user.username %>
				<% end %>

			</td>
			<td>
				<%= fe.content%>
				<% if fe.logo.exists? %>
					<%= link_to image_tag(fe.logo.url(:thumb)),fe.logo.url%>
				<%end%>
			</td>
			<td><%= fe.created_at%></td>

			<td>
			<% if current_user && ( fe.user == current_user || current_user.admin? ) %>
				<%= link_to "Edit", edit_topic_feedback_path(@topic,fe),:class => "btn btn-default"%>
				<%= link_to "Delete", topic_feedback_path(@topic,fe), :method => :delete, :data => {:confirm => "Are you sure?"},:class => "btn btn-danger"%>
			<% end %>
			</td>
			<td>
				<%= fe.status %>
			</td>
		</tr>
	<%end%>
</table>

<%= form_for [@topic, @feedback], :class =>"form" do |fe|%>
	
	<div class="form-group">
		<%=fe.label :content, "Content"%>
		<%=fe.text_area :content, :class => "form-control"%>
	</div>

	<div class="form-group">
	    <%=fe.label :logo, "LOGO"%>
	    <%=fe.file_field :logo%>
	</div>

	<%=fe.submit "Create", :class => "btn btn-primary"%>

<%end%>



<hr>
<%= link_to "Topics Index", topics_path%>