<h1>Title:<%= @topic.name %></h1>

<ul>
<li>Category:<%= @topic.category_name %></li>
<li>Author:<%= @topic.user_email%></li>
<li>Status:<%= @topic.status%></li>
<li>Content:<%= @topic.content %></li> 

</ul>


<h3>Feedbacks:</h3>
<table class="table">
<tr>
	<td>Feebacker</td>
	<td>Feedback Time</td>
	<td>Content</td>
	<td>Control</td>
</tr>


<% @feedbacks.each do |fe| %>
<tr>
	<td><%= fe.user_email%></td>
	<td><%= fe.created_at%></td>
	<td><%= fe.content%></td>
	<td>
	<% if current_user == nil %>
		<%="ＸＸＸ"%>
	<% elsif fe.user_email == current_user.email  %>
		<%= link_to "Edit", edit_topic_feedback_path(@topic,fe),:class => "btn btn-default"%>
		<%= link_to "Delete", topic_feedback_path(@topic,fe), :method => :delete, :data => {:confirm => "Are you sure?"},:class => "btn btn-danger"%>
	<%end%>
	</td>
</tr>

<%end%>

</table>

<%= form_for @feedback, :url => topic_feedbacks_path(@topic), :class =>"form" do |fe|%>
	
	<div class="form-group">
		<%=fe.label :content, "Content"%>
		<%=fe.text_area :content, :class => "form-control"%>
	</div>

	<%=fe.submit "Create", :class => "btn btn-primary"%>

<%end%>



<hr>
<%= link_to "Topics Index", topics_path%>