<h1>Title:<%= @topic.name %></h1>

<ul>
<li>Category:<%= @topic.category.try(:name) %></li>
<li>Auther<%= @topic.user.try(:email)%></li>
<li>Content:<%= @topic.content %></li> 

</ul>


<h3>Feedbacks:</h3>
<table class="table">
<tr>
	<td>Feebacker</td>
	<td>Feedback Time</td>
	<td>Content</td>
</tr>


<% @feedbacks.each do |fe| %>
<tr>
	<td><%= fe.user.try(:email)%></td>
	<td><%= fe.created_at%></td>
	<td><%= fe.content%></td>
</tr>

<%end%>
</table>

<%= form_for @feedback, :url => topic_feedbacks_path(@topic), :class =>"form" do |fe|%>
	
	<div class="form-group">
		<%=fe.label :content, "Content"%>
		<%=fe.text_area :content, :class => "form-control"%>
	</div>

	<%=fe.submit "Create", :class => "btn btn-primary"%>

<%end%>




<%= link_to "Topics Index", topics_path%>