
  <tr id="feedback-<%= @feedback.id %>">
    <td>
      <%= link_to profile_path(@feedback.user) do %>
         <%= image_tag @feedback.user.gravatar_url, :size =>"30x30" %>
         <%= @feedback.user.username %>
      <% end %>

    </td>
    <td>
      <%= @feedback.content%>
      <% if @feedback.logo.exists? %>
        <%= link_to image_tag(@feedback.logo.url(:thumb)),@feedback.logo.url%>
      <%end%>
    </td>
    <td><%= @feedback.created_at%></td>

    <td>
    <% if current_user && ( @feedback.user == current_user || current_user.admin? ) %>
      <%= link_to "Edit", edit_topic_feedback_path(@topic,@feedback),:class => "btn btn-default"%>
      <%= link_to "Delete", topic_feedback_path(@topic,@feedback), :remote => true, :method => :delete, :class => "btn btn-danger"%>
    <% end %>
    </td>
    <td>
      <%= @feedback.status %>
    </td>
  </tr>
