<h1>Edit Page</h1>

<%= form_for @feedback, :url => topic_feedback_path(@topic, @feedback), :class =>"form", :method => :patch do |fe|%>

	<div class="form-group">
		<%=fe.label :content, "Content"%>
		<%=fe.text_area :content, :class => "form-control"%>
	</div>

	<div class="form-group">
	<%=fe.label :status, "Status"%>
	<%=fe.select :status,[["Published","published"],["Draft","draft"]]%>
	</div>

	<div class="form-group">
		<%=fe.label :logo, "LOGO"%>
		<%=fe.file_field :logo%>
		
		<% if @feedback.logo.exists? %>
			<%= link_to image_tag(@feedback.logo.url(:thumb)),@feedback.logo.url%>
	      <%= check_box_tag "destroy_logo", "1" %> 刪除檔案
	    <% end %>
	    
	</div>

	<%=fe.submit "Update", :class => "btn btn-primary"%>

<%end%>