<h1>Feedback</h1>

<%= link_to "XX", topic_feedbacks_path(:order => "created_at")%>

<%= link_to "name", topic_feedbacks_path(:order => "name")%>

<%= link_to "Sort by default", topic_feedbacks_path%>

<%= link_to "New Feedback", new_topic_feedback_path(@topic), :class => "btn btn-primary"%>
<table class="table">
	<tr>
		<td>Feedback Content</td>
		<td>Feedback Time</td>
		<td>Control</td>

	</tr>

<% @feedbacks.each do |fe| %>
	<tr>
	<td>
	<%= fe.content %>
	</td>
	<td>
		<%= fe.created_at%>
	</td>
	<td>
	<%= link_to "Show", topic_feedback_path(@topic, fe), :class => "btn btn-primary"%>
	<%= link_to "Edit", edit_topic_feedback_path(@topic, fe), :class => "btn btn-default"%>
	<%= link_to "Delete", topic_feedback_path(@topic,fe), :method => :delete, :data => {:confirm => "sure?"},:class => "btn btn-danger" %>

	</td>
	</tr>
<%end%>
</table>

<%= paginate @feedbacks %>


<hr>

<%= link_to "Topics Index", topics_path, :class => "btn btn-primary"%>