<h1>Admin User Edit Page</h1>

<%= form_for [:admin, @user], :class => "form" do |u|%>

<div class="form-group">
	<%=u.label :role, "Role"%>
	<%=u.select :role, [["admin","admin"],["normal","normal"]], :class => "form-control"%>
</div>

<%=u.submit "Update", :class => "btn btn-primary"%>

<%end%>

<%= link_to "Admin Index", admin_topics_path%>